<ion-view view-title="Welcome to Axil" class="gradient-background">
  <div class="bar bar-loading bar-assertive" ng-if="loginError">
    Wrong username or password.
  </div>
  <ion-content class="padding">
    <div class="general-container">
      <img id="logo" src="../logo.png">
      <div class="list login-center">
        <label class="item item-input">
          <input autocapitalize="off" autocorrect="off" type="email" placeholder="Email" ng-model="loginInfo.email">
        </label>
        <label class="item item-input">
          <input autocapitalize="off"  autocorrect="off" type="password" placeholder="Password" ng-model="loginInfo.password">
        </label>
        <button class="button button-block button-light" ng-click="login()">
          Login
        </button>
        <button class="button button-block button-light" ng-click="signupRedirect()">
          New to Axil? Sign up!
        </button>
      </div>

    </div>
  </ion-content>
</ion-view>


