<ion-view view-title="Explore">
  <ion-content>
    <div class="explore-container">
      <button class="button list-button" ng-click="listView()">
        <i class="ion-navicon-round icon-red"></i>
      </button>
      <button class="button nav-button" ng-click="getLocation(false)">
        <i class="ion-navigate icon-red"></i>
      </button>
        <div id="map" data-tap-disabled="true"></div>
    </div>
  </ion-content>
</ion-view>

<script id='map-list-modal.html' type="text/ng-template">
  <div class="modal explore-modal">
  <ion-header-bar class="bar-positive">
    <h1 class="title">Media Near You</h1>
    <button class="button" ng-click="closeListModal()">close</button>
  </ion-header-bar>
  <ion-content>
      <ion-list>
        <ion-item ng-click="openMarkerModalFromList(media)" ng-repeat="media in inBounds">
          <div class="list card">
            <div class="item item-avatar">
              <img src="{{ media.mediaData.email }}">
              <h2>{{ media.mediaData.type }}</h2>
              <p>By: {{media.mediaData.firstname}} {{ media.mediaData.lastname }}</p>
            </div>
            <div class="item item-image">
              <img src="{{media.mediaData.thumb}}">
            </div>

            <a class="item item-icon-left positive" href="#">
              <i class="icon ion-arrow-resize"></i>
              View
            </a>
          </div>
      	</ion-item>
      </ion-list>
  </ion-content>
  </div>
</script>

<script id='marker-modal.html' type="text/ng-template">
  <div class="modal explore-modal">
  <ion-header-bar class="bar-positive">
    <h1 class="title">Marker Modal</h1>
    <button class="button" ng-click="closeMarkerModal()">close</button>
  </ion-header-bar>
  <ion-content>
    <div class="card">
        <div class="col padding-horizontal">
        <div class="item item-body">
          <div ng-if="markerInfo.type === 'video'">
            <video class="center marker-modal-img" controls src="{{markerInfo.uri | trusted }}"></video>
          </div>
          <div ng-if="markerInfo.type === 'image'">
            <img class="center marker-modal-img" src="{{markerInfo.uri}}">
          </div>
          <p>Likes: {{markerInfo.likes}} </p>
          <p>By: {{markerInfo.firstname}} {{markerInfo.lastname}} </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#" ng-click="likeMedia(markerInfo.id)">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#" ng-click="mediaShare(markerInfo.uri)">
          <i class="icon ion-share"></i>
          Share
        </a>
    </div>
  </ion-content>
  </div>
</script>
