<ion-view view-title="Explore">
  <ion-content>
  <div id="nav-feather" icon-off="ion-navigate" icon-on="ion-navigate"></div>
    <div id="map" data-tap-disabled="true"></div>
  </ion-content>
</ion-view>

<script id='map-list-modal.html' type="text/ng-template">
  <div class="modal explore-modal">
  <ion-header-bar class="bar-positive">
    <h1 class="title">Media List</h1>
    <button class="button" ng-click="closeListModal()">close</button>
  </ion-header-bar>
  <ion-content>
      <ion-list>
      	<ion-item ng-repeat="media in medias">
          <img class="round-thumbnail" src="{{media.options.icon.options.thumb}}">
          <p>Type: {{ media.options.icon.options.type }}
      	</ion-item>
      </ion-list>
  </ion-content>
  </div>
</script>

<script id='marker-modal.html' type="text/ng-template">
  <div class="modal explore-modal">
  <ion-header-bar class="bar-positive">
    <h1 class="title">Marker Modal</h1>
    <button class="button" ng-click="closeMarkerModal()">close</button>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col padding-horizontal">
        <div ng-if="markerInfo.type === 'video'">
          <video class="marker-model-img" controls autoplay src="{{markerInfo.uri | trusted }}"></video>
        </div>
        <div ng-if="markerInfo.type === 'image'">
          <img class="marker-modal-img" src="{{markerInfo.uri}}">
        </div>
        <p>Likes: {{markerInfo.likes}} </p>
        <p>By: {{markerInfo.firstname}} {{markerInfo.lastname}} </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-block button-balanced" ng-click="likeMedia(markerInfo.id)">Like</button>
      </div>
      <div class="col">
        <button class="button button-block button-positive">Share</button>
      </div>
    </div>
  </ion-content>
  </div>
</script>
