<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">We can do this!</div>
      <div class="item item-body">
        <div>
          This is <b>Phoenix</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          I like ionic!!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          We have lots of <b>STUFF</b> todo.
        </div>
        <button type="submit" ng-click="facebookLogin()">Login With Facebook</button>
      </div>
    </div>
  </ion-content>
</ion-view>
