<ion-view view-title="Profile">
  <ion-content>
    <div class="profile-container">
      <div class="profile-picture">
    </div>
      <div>
      </div>
       <div class="user-media profile-media">
        <ion-list>
          <ion-item class="item item-icon-left">
            <i class="icon ion-person-stalker"></i>
            <h2>{{userInfo.firstname}} {{userInfo.lastname}}</h2>
          </ion-item>
          <ion-item class="item item-icon-left">
            <i class="icon ion-email"></i>
            <h3>{{userInfo.email}}</h3>
          </ion-item>
          <ion-item ng-repeat="media in userInfo.mediaList" class="item item-thumbnail-left">
              <img ng-if="media.type === 'image'" src="{{media.uri | trusted}}">
              <img ng-if="media.type === 'video'" src="{{media.thumb | trusted}}" type="video/mov" controls>
            <ion-option-button class="button-assertive">Delete</ion-option-button>
          </ion-item>
        <ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>
