<ion-view view-title="Profile">
  <ion-content>
    <div class="profile-container">
      <div class="profile-picture">
      </div>

      <div class="profile-info">
        <h2>{{userInfo.firstname}} {{userInfo.lastname}}</h2>
        <h3>{{userInfo.email}}</h3>
      </div>

      
      <div class="user-media profile-media">
        <ion-list>
          <ion-item ng-repeat="media in userInfo.mediaList">
            <div class="image-container">
              <img ng-if="media.type === 'image'" src="{{media.uri | trusted}}" class="media-modal" >
              <video ng-if="media.type === 'video'" src="{{media.uri | trusted}}" type="video/mov" class="media-modal"  controls>
            </div>
          </ion-item>
        <ion-list>
      </div>



    </div>
  </ion-content>
</ion-view>
