
html, body {
    height: 100%;
    width: 100%;
}

#map {
    height: 700px;
     /*Change 100% to 400px and the map will display    */
    width: 100%;
}

.spinner svg {
  width: 20px;
  height: 20px;
  stroke: white;
  fill: white;
  z-index: 100;
}

.map_image {
	height: 100%;
	width: 200px;
}

.alert {
  height: 20px;
  font-size: 10px;
  background-color: green;
  color: white;
}

.image-icon img {
  height: 52px !important;
  width: 52px !important;
  border-radius: 50%;
  border: solid;
  border-color: #0080ff;
}

.media-modal{
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
  background-color: white;
  top:0;
  left:0;
}

.modal-thumnail {
  max-height: 100%;
  width:00%;
}


.image-container {
    height: 220px;
    text-align: center;
    margin:5px;
}
.tags {
    margin:10px;
}

.explore-modal {
  height: 50%;
}

.round-thumbnail {
  height: 70px !important;
  width: 70px !important;
  border-radius: 50%;
  border: solid;
  border-color: #0080ff;
}

.square-thumbnail {
  height: 100% !important;
  width: 250px !important;
  border: solid;
  border-color: #0080ff;
}

.marker-modal-img {
  height: 100%;
  width: 350px;
}

.list-button {
  position: absolute;
  bottom: 100px;
  left: 10px;
  z-index: 100;
  height: 50px;
  width: 50px;
  background-color: rgba(255,255,255,0.6);
}

.nav-button {
  position: absolute;
  bottom: 100px;
  right: 10px;
  z-index: 100;
  height: 50px;
  width: 50px;
  background-color: rgba(255,255,255,0.6);
}

.center {
    margin: auto;
    text-align: center;
}

.gravatar {
  height: 150px !important;
  width: 150px !important;
  border-radius: 50%;
  border: solid;
  border-color: #0080ff;
  margin: 0 auto;
}

.logo {
    height: 300px;
    width: 100%;
    z-index: 100;
}

.upload-media-icon {
  height: 400px;
  width: 400px; 
}

.general-container {
  height: 60%;
  width: 100%;
  position: relative;
}

.camera-icon-row {
  margin: 0;
  position: absolute;
  top: 50%;
}

.login-center {
    margin: 0;
    width: 100%;
    position: absolute;
    top: 150px;
    padding: 10px;
}





